@page
@model Agenda.Pages.Categorias.EditarModel

@{
    ViewData["Title"] = "Editar una Categoria";
}


<div class="container">


  <div class="row">
      <div class="col-8 offset-2">
          <h2 class="text-info">EDITAR CATEGORIA</h2>
          <form method="POST">

            <input type="hidden" asp-for="Categorias.Id" />            <!--        OJO          -->

            <div class="mb-3">
                <label asp-for="Categorias.nombre" class="col-form-label">    </label>
                <input asp-for="Categorias.nombre" class="form-control" placeholder="Ingrese Nombre de categoria" />
                <span asp-validation-for="Categorias.nombre" class="text-danger">   </span>
            </div>

            <div class="mb-3">
                <label asp-for="Categorias.FechaCreacion" class="col-form-label">    </label>
                <input asp-for="Categorias.FechaCreacion" class="form-control" />
                <span asp-validation-for="Categorias.FechaCreacion" class="text-danger">   </span>
            </div>

            <button type="submit" class="btn btn-primary" >Aceptar</button>


          </form>
      </div>
  </div>


  <div class ="row">
      <div class="col-6">
          <a asp-page="Index" class="btn btn-success">Regresar</a>
      </div>
  </div>



</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}